@import 'tailwindcss';
/* @import 'tailwind/base';
@import 'tailwind/components';
@import 'tailwind/utilities'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}